In [1]:
import sqlite3

In [2]:
import datetime

In [3]:
conn = sqlite3.connect('user.db')

In [4]:
conn.execute(
    'CREATE TABLE IF NOT EXISTS users (name text, timestamp timestamp)')

In [5]:
conn.close()

In [6]:
conn = sqlite3.connect('user.db')

In [7]:
c = conn.cursor()

In [8]:
c.execute("select * from users")

In [9]:
c.description

(('name', None, None, None, None, None, None),
 ('timestamp', None, None, None, None, None, None))

In [10]:
c.close()

In [11]:
conn.close()

In [26]:
name = input("Enter your name")

Enter your name AAA

In [27]:
name

'AAA'

In [14]:
t = datetime.datetime.now()

In [15]:
t

datetime.datetime(2025, 5, 20, 10, 49, 59, 941449)

In [28]:
# Write into db
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("insert into users(name,timestamp) values(?,?)",(name,t))
conn.commit()
c.close()
conn.close()

C:\Users\cyewp\AppData\Local\Temp\ipykernel_12228\1945165946.py:4: DeprecationWarning: The default datetime adapter is deprecated as of Python 3.12; see the sqlite3 documentation for suggested replacement recipes
  c.execute("insert into users(name,timestamp) values(?,?)",(name,t))

In [29]:
# Read from DB
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("SELECT * from users")
r=""
for row in c:
    print(row)
    r = r+str(row)
c.close()
conn.close()

('YYY', '2025-05-20 10:49:59.941449')
('SSS', '2025-05-20 10:49:59.941449')
('AAA', '2025-05-20 10:49:59.941449')

In [18]:
# Delete from DB
conn = sqlite3.connect('user.db')
c = conn.cursor()
c.execute("delete from users")
conn.commit()
c.close()
conn.close()